/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure, 
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  font-weight: bold;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* required classes */
.container{
  min-width: 500px;
  max-width: 1000px;
  width: 80%;
  margin: auto;
}
.hero-padding{
  padding-block: 5em;
}
.footer-padding{
  padding-block: 3em .8em;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.section2 h2{
  text-align: center;
  margin-bottom: 3em;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid div img{
  margin-bottom: 1em;
  outline: 2px solid white;
  border-radius: 10px;
}
.grid div > *{
  text-align: center;
  margin: auto;
}
ul{
  gap: 5em;
}
ul li a{
  color: white;
}

/* Starter */
body{
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}
.container{
    display: grid;
    place-items: center;
    width: 500px;
    height: 100vh;
}
.border{
    outline: 5px solid black;
    outline-offset: .9em;
    border-radius: 3px;
}
.output{
    text-align: right;
    border: 1px solid black;
    padding-inline: .5em;
    width: 500px;
    border-radius: 7px;
    padding-block: .6em;
    box-shadow: 0px 0 0 4px rgba(0,0,0, .9);
}
.output:first-child{
    content: " ";
}
.output > *{
    padding: .5em;
    line-height: .5em;
}
.buttons{
    padding-block: 1em .3em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}
.buttons > *{
    padding: 1em;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 3px rgba(0,0,0, .8);
}
.buttons > *:hover{
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 3px 3px rgba(0,0,0, .7);
}
.buttons > *:active{
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0, .7);
}
.two-grid-places{
    grid-column-start: 3;
    grid-column-end: 5;
}